/* PC */
@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 11px;
  }

  .hero {
    height: 65vh;
    margin-top: 13vh;
    padding: 0;
    /* overflow: hidden; */
  }

  .hero .body {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 5vh 0 0 0;
    /* gap: 20px; */
  }

  .hero .heading {
    font-size: 2rem;
  }

  .hero .content-block {
    padding-left: 50px;
  }

  .hero .media-block img {
    height: 50vh;
  }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  html {
    font-size: 7px;
  }

  .hero {
    height: 40vh;
    margin-top: 7vh;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .hero .body {}

  .hero .content-block {
    padding: 0px;
  }

  .hero .media-block img {
    height: 100%;
    width: 80%;
  }

  .hero .heading {
    font-size: 2.5rem;
  }

  .feedback {
    padding: 10px 0;
  }

  .product {
    margin: 0vh;
    height: 60vh;
  }

  .feedback-item {
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: wrap;
  }

  .feedback-item .content blockquote {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .feedback-item .info {
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .feedback-item .info,
  .feedback-item .content {
    width: 40%;
  }

  .feedback-item .info .title {
    margin: 5px 0 0 0;
  }

  .feedback-item .info .desc {
    margin-top: 0;
  }

  .product .images {
    width: 100%;
  }

  .product .body {
    flex-direction: column;
    gap: 10px;
  }

  .product .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;
  }

  .product .images {
    gap: 10px;
    justify-content: center;
    padding-top: 20px;
  }

  .product .images img {
    height: 25vh;
    width: 100%;
  }

  .product .content p {
    width: 100%;
  }

  .product img.lower {
    margin-top: 0px;
  }

  .product .content .btn {
    font-size: 1.5rem;
  }

  .feedback .dots {
    display: none;
  }

  .product .content .heading {
    margin-bottom: 7px;
  }

  .product .desc {
    line-height: 1;
    margin: 8px 0;
    font-size: 2rem;
  }
}