/* PC */
@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

/* Smart Display */
@media screen and (min-width: 992px) and (max-height: 700px) {
  html {
    font-size: 13px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 11px;
  }

  .hero {
    height: 40vh;
  }

  .leasing .information {
    padding: 30px 0;
  }

  .leasing {
    height: 50vh;
  }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  html {
    font-size: 7px;
  }

  .hero {
    margin-top: 7vh;
    height: 30vh;
  }

  .leasing .information {
    padding: 30px 0;
  }

  .leasing {
    height: 40vh;
    margin-top: 4vh;
  }

  .leasing .body {
    width: 80%;
    padding: 10px 20px;
  }

  .franchise {
    margin: 4vh auto;
  }
}
