/* PC */
@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 11px;
  }

  .hero {
    height: 65vh;
  }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  html {
    font-size: 7px;
  }

  .hero {
    height: 50vh;
  }
  .cooperation {
    padding-top: 7vh;
  }
}
